@import './carousel-slider';

.block {
  min-height: 100vh;
  overflow: hidden;

  &--title {
    margin-bottom: 20px;
    transition: color 200ms ease-in-out;
    font-size:1rem;
    &:hover {
      color: $green-main-font;
    }
  }
  &--horizontal-list {
    position: relative;
    margin-top: 2rem;
    &:not(:first-of-type) {
      margin-top: 2.5rem;
    }
  }
  &--arrow {
    width: auto;
    height: 22px;
    position: absolute;
    margin-left: 5px;
    &:hover {
      margin-left: 10px;
    }
  }

  &__pane {
    &--space {
      &[data-album] {
        .block__pane {
          &--genre {
            min-width: auto;
            height: auto;
          }
        }
      }
    }
    display: inline-flex;
    align-items: center;
    transition: 200ms all;

    &--genre {
      cursor: pointer;

      min-width: 180px;
      height: 180px;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      position: relative;
      transition: 500ms font-size;
      &:hover {
        font-size: 1.2em;
      }
    }

    &--item {
      &-title {
        font-size: 0.88rem;
        margin: 15px 0 25px 0;
      }
    }
    &--title {
      font-size: 0.85rem;
      margin-bottom: 20px;
      margin-top: auto;
      color: white;
      z-index: 2;
    }
    &--space {
      position: relative;
      width: 100%;
      height: auto;
      margin-right: 20px;
    }

    &--image {
      transition: 800ms;
      width: 200px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (min-width: 661px) {
  .block{
    &--title{
      font-size: 1.2rem;
    }
  }
  .block--horizontal-list {
    .block__pane {
      overflow-x: hidden;
      &--space {
        &[data-album] {
          .block__pane {
            &--genre {
              min-width: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
}
