@import './carousel-slider';

.block {
  min-height: 100vh;
  overflow: hidden;

  &--title {
    margin-bottom: 20px;
  }
  &--horizontal-list {
    margin: 2rem 0 0 0.5rem;
    position: relative;
    &:first-of-type {
      margin-top: 4rem;
    }
  }

  &__pane {
    display: inline-flex;
    align-items: center;
    transition: 200ms all;

    &--genre {
      cursor: pointer;
      min-width: 100px;
      height: 100px;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      position: relative;
      transition: 500ms font-size;
      &:hover {
        font-size: 1.2em;
      }
    }

    &--item {
      &-description {
        margin: 15px 0 15px 0;
      }
      &-title {
        font-size: 0.6rem;
      }
    }
    &--title {
      font-size: 0.65rem;
      margin-bottom: 20px;
      margin-top: auto;
      color: white;
      z-index: 2;
    }
    &--space {
      position: relative;
      width: 100%;
      height: auto;
      margin-right: 20px;
    }

    &--image {
      transition: 800ms;
      width: 200px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (min-width: 661px) {
  .block--horizontal-list {
    .block__pane {
      overflow-x: hidden;
      &--genre {
        width: 150px;
        height: 150px;
      }
    }
  }
}
