.block {
  &__page {
    &--title {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 15px;
      text-transform: capitalize;
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .block__pane {
        width: 125px;
      }
    }
  }
}

@media (min-width: 660px) {
  .block__page {
    &--section {
      width: 150px;
      height: 150px;
    }
  }
}
