@import './carousel-slider';

.block {
  min-height: 100vh;
  overflow: hidden;

  &--title {
    margin-bottom: 25px;
  }
  &--horizontal-list {
    margin: 2rem 0 0 1.5rem;
    position: relative;
    &:first-of-type {
      margin-top: 4rem;
    }
  }

  &__pane {
    display: inline-flex;
    align-items: center;
    transition: 200ms all;
    &--genre {
      cursor: pointer;
      width: 150px;
      height: 150px;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    &--item {
      &-description {
        margin: 15px 0 15px 0;
      }
      &-title {
        font-size: 0.75rem;
      }
    }
    &--title {
      font-size: 0.85rem;
      margin-bottom: 25px;
      margin-top: auto;
      color: white;
      z-index: 2;
    }
    &--space {
      position: relative;
      width: 100%;
      height: auto;
      margin-right: 20px;
    }

    &--image {
      transition: 800ms;
      width: 200px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__genre {
    &--section {
      width: 150px;
      height: 150px;
      display: flex;
      position: relative;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 661px) {
  .block--horizontal-list {
    .block__pane {
      overflow-x: hidden;
    }
  }
}
