.slider {
  &__wrapper {
    overflow-x: hidden;
    width: 100%;
    justify-self: center;
  }

  &__button {
    display: block;
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    border-radius: 80%;
    padding: 5px;
    background: $green-main-font;
    cursor: pointer;
    transition: 200ms background;
    &:hover {
      background: $green-opacity-font;
    }
    .icon {
      width: 25px;
      border-radius: 30%;
      fill: white;
    }
    &[data-control='next'] {
      right: 0;
      margin-right: 15px;
      .icon {
        rotate: 180deg;
      }
    }
  }
}
@media (min-width: 661px) {
  .slider__button {
    &.none {
      display: none;
    }
  }
}
