.slider {
  &__wrapper {
    overflow-x: scroll;
    width: 100%;
    justify-self: center;

    &--controls {
      display: none;
    }
  }
}
@media (min-width: 661px) {
  .slider__wrapper {
    overflow: hidden;
    &--controls {
      display: flex;
      width: 100px;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      position: absolute;
      top: 3px;
      right: 35px;
      .slider__button {
        background: transparent;
        border: none;
        svg {
          width: 25px;
          fill: white;
        }
        &[data-control='next'] {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
