.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  h1 {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    ul {
      transition: all 300ms;
      transform: translateX(100vh);
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 0;
    }
  }
}

.open-menu {
  z-index: 2;
}

.menu--check:checked {
  ~ ul {
    transform: translateX(0%);
    width: 50%;
    li {
    }
  }
}
