.header {
  &.subpage {
    width: 0;
  }
  h1 {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  .menu,
  .logo {
    margin-top: 0.9375rem;
    z-index: 99;
  }

  .menu {
    display: none;
  }

  svg {
    width: 100%;
  }
  .logo {
    display: flex;
    position: absolute;
    right: 1.5625rem;
    font-weight: bold;
    text-shadow: 1px 3px 7px #0c0e0c;
  }
  &__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 999;
    &--wrapper {
      display: flex;
      justify-content: center;
      background: black;
    }
    &--item {
      &:not(:first-child) {
        display: $open-menu;
        margin-top: 35px;
      }
      min-width: 25%;
      .menu--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        .menu--option {
          font-size: 0.78rem;
        }
      }
    }
  }
}

.open-menu {
  z-index: 2;
}

@media (min-width: 661px) {
  .header {
    display: flex;
    width: $header-close;
    transition: width 300ms linear;
    flex-direction: column;
    background: $black-background;
    .menu {
      display: block;
      transition: all 200ms;
      align-self: flex-start;
      margin-left: calc(#{$header-close} / 6);
    }
    &__menu {
      position: static;
      display: flex;
      justify-content: flex-end;
      transition: all 1s;
      overflow: hidden;
      &--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 50px;
      }
      &--item {
        .menu {
          &--item {
            display: grid;
            grid-template-columns: $header-close 1fr;
          }
          &--icon {
            width: 40%;
            fill: $green-main-font;
            justify-self: center;
          }
        }
      }
    }
  }
}

@import './search-box.scss';
