.header {
  display: flex;
  width: $header-close;
  transition: width 300ms linear;
  flex-direction: column;
  background: $black-background;
  h1 {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  .menu,
  .logo {
    margin-top: 0.9375rem;
		z-index:99;
  }
  .menu {
    transition: all 200ms;
    align-self: flex-start;
    margin-left: calc(#{$header-close} / 6);
  }
	svg{
		width:100%;
	}
  .logo {
    position: absolute;
    right: 1.5625rem;
    font-weight: bold;
		text-shadow: 1px 3px 7px #14d143;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    transition: all 1s;
    overflow: hidden;
    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 50px;
    }
    &--item {
      &:not(:first-child) {
        margin-top: 35px;
      }
      .menu {
        &--item {
          display: grid;
          grid-template-columns: $header-close 1fr;
        }
        &--icon {
          width: 40%;
          fill: $green-main-font;
          justify-self: center;
        }
      }
    }
  }
}

//menu header effect
.main--grid {
  display: flex;
  &.open--menu {
    header {
      width: 11rem;
    }
  }
}

.open-menu {
  z-index: 2;
}
