.header {
  h1 {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  .menu,
  .logo {
    margin-top: 0.9375rem;
    z-index: 99;
  }

  .menu {
    display: none;
  }

  svg {
    width: auto;
  }
  .logo {
    display: flex;
    position: absolute;
    right: 1.5625rem;
    font-weight: bold;
    text-shadow: 1px 3px 7px #0c0e0c;
  }
  &__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 999;
    &--wrapper {
      display: flex;
      justify-content: center;
      background: $black-background;
    }
    &--item {
      &:not(:first-child) {
        display: $open-menu;
        margin-top: 35px;
      }
      min-width: 25%;
      .menu--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        .menu--option {
          font-size: 0.78rem;
        }
      }
    }
  }
}

.arrowMenu {
  display: none;
}

.open-menu {
  z-index: 2;
}

@media (min-width: 661px) {
  .arrowMenu {
    display: block;
  }

  .header {
    display: flex;
    min-width: 22vw;
    min-height:100vh;
    transition: width 300ms linear;
    flex-direction: column;
    background: $black-background;
    border-right: $border-black-opacity;
    &__menu {
      position: sticky;
      top:0;
      display: flex;
      justify-content: flex-end;
      transition: all 1s;
      overflow: hidden;
      &--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 50px;
      }
      &--item {
        .menu {
          &--item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 24px;
            .menu--icon {
              width: auto;
              fill: $green-main-font;
              justify-self: center;
            }
            .menu--option {
              font-size: 1rem;
              margin-left: 18px;
              min-height: 20px;
              transition: color 400ms;
              &:hover {
                color: $green-main-font;
              }
            }
          }
          
          
        }
      }
    }
  }
}

@media (min-width: 967px) {
  .header {
    min-width: 14vw;
  }
}

@media (min-width: 2259px) {
  .header {
    min-width: 10vw;
  }
}


@import './search-box.scss';
