.header {
  display: flex;
  width: $header-close;
  transition: width 300ms linear;
  flex-direction: column;
  background: $black-background;
  h1 {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  .menu,
  .logo {
    margin-top: 0.9375rem;
  }
  .menu {
    transition: all 200ms;
    align-self: center;
  }
  .logo {
    position: absolute;
    right: 1.5625rem;
    font-weight: bold;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    transition: all 1s;
    overflow: hidden;
    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 50px;
    }
    .menu--item {
      display: grid;
      grid-template-columns: $header-close 1fr;
      .menu--icon {
        width: 50%;
        fill: $green-main-font;
        justify-self: center;
      }
    }
  }
}

//menu header effect
.main--grid {
  display: flex;
  &.open--menu {
    header {
      width: 200px;
      // .header__menu {
      //   margin-left: 2rem;
      // }
    }
  }
}

.open-menu {
  z-index: 2;
}
