.block--herobanner {
  width: 100%;
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: changeFrame 30s linear infinite;
  &__wrapper {
    width: 21rem;
    padding: 2rem;
    h2 {
      font-size: 1.2rem;
      color: white;
      text-shadow: 2px 3px 5px rgb(36, 36, 36);
    }

    .link--portfolio{
      text-shadow: 2px 3px 5px rgb(36, 36, 36);
      margin-top:10px;
      font-size:0.8rem;
      font-weight: 700;
    }

    .button-hero {
      font-size: 0.87rem;
      cursor: pointer;
      display: flex;
      border-radius: 10px;
      padding: 0.6rem;
      width: 60%;
      text-align: center;
      justify-content: center;
      align-self: center;
      margin-top: 1.875rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background: #2e2e2ede;
      transition: opacity 200ms ease-in;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@keyframes changeFrame {
  0% {
    background-image: url('/images/dj.jpg');
  }
  40% {
    background-image: url('/images/girl-listening.jpg');
  }
  75% {
    background-image: url('/images/gorgeous-girl-listen-song.jpg');
  }
  100% {
    background-image: url('/images/young-man-song.jpg');
  }
}
