.block--herobanner {
  width: 100%;
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: changeFrame 30s linear infinite;
  &__wrapper {
    width: 21rem;
    padding: 2rem;
    h2 {
      font-size: 1.2rem;
      color: white;
      text-shadow: 2px 3px 5px black;
    }
    a {
      font-size: 0.87rem;
      cursor: pointer;
      display: flex;
      border: 3px solid black;
      border-radius: 10px;
      padding: 0.6rem;
      width: 55%;
      text-align: center;
      justify-content: center;
      margin-top: 1.875rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 2px 3px 5px black;
      background: #282828c9;
      transition: all 500ms ease-in;
      &:hover {
        padding: 10px;
      }
    }
  }
}

@keyframes changeFrame {
  0% {
    background-image: url('/images/dj.jpg');
  }
  35% {
    background-image: url('/images/girl-listening.jpg');
  }
  70% {
    background-image: url('/images/gorgeous-girl-listen-song.jpg');
  }
  95% {
    background-image: url('/images/young-man-song.jpg');
  }
}
