@use "structure.scss";

.main--block {
  &__page {
    margin-top: 50px;
  }
}
.main--wrapper {
  overflow-x: hidden;
  height: 100vh;
}

@media (min-width: 661px) {
  .block {
    &__pane {
      &--image {
        width: 150px;
      }
      &--title {
        font-size: 0.6rem;
      }
    }
  }
}
