.main--block {
  .subpage {
    padding-top: 2.5rem;
    padding-bottom: $padding-below-window;
    margin-left: 18px;
  }
}
.main--wrapper {

  height: 100vh;
}

.logo {
  color: $green-main-font;
}

.pane--pic:hover {
  transform: scale(1.4);
  transition: 400ms transform;
}

.button {
  &--play {
    width: 30px;
    fill: white;
  }
}

@media (min-width: 661px) {
  //menu header effect
  .main--wrapper{
    width: 85%;
  }
  .main--grid {
    display: flex;
  }
  .main--block {
    .subpage {
      padding-top: 4.5rem;
      margin-left: 35px;
    }
  }

  .block {
    &__pane {
      &--image {
        width: 150px;
      }
      &--title {
        font-size: 0.6rem;
      }
    }
  }
}
