body {
  min-height: 100vh;
}

.block {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  margin: 0 15px;
  &__pane {
    display: inline-flex;
    align-items: center;
    overflow: auto hidden;
    width: 100%;
    justify-self: center;

    &--genre {
      width: 155px;
      height: 155px;
      border-radius: 5%;
      display: flex;
      justify-content: center;
    }
    &--title {
      margin-bottom: 15px;
      margin-top: auto;
      color: white;
    }
    &--space {
      position: relative;
      width: 100%;
      height: auto;
      &:not(:first-child) {
        margin: 0 15px;
      }
    }
    &--image {
      transition: 800ms;
      width: 200px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__genre {
    &--section {
      width: 150px;
      height: 150px;
    }
  }
}

@media (min-width: 661px) {
  .block {
    &__pane {
      &--image {
        width: 150px;
      }
      &--title {
        font-size: 0.6rem;
      }
    }
  }
}
