.main--block {
  &__subpage {
    margin-top: 3.5rem;
  }
}
.main--wrapper {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

@media (min-width: 661px) {
  .block {
    &__pane {
      &--image {
        width: 150px;
      }
      &--title {
        font-size: 0.6rem;
      }
    }
  }
}
