.menu--icon {
  display: flex;
  align-items: center;
}

.search {
  &--box {
    display: flex;
    input {
      border: none;
      height: 30px;
      padding: 4px;
      width: 165px;
      background: none;
      color: $light-gray;
      border-bottom: $light-gray 2px solid;
      margin-right: 10px;
      &:focus-visible {
        outline: none;
      }
    }
  }
  &--results-box {
    width: 100%;
  }
  &--results-child {
    display: flex;
  }
  &--result {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
  }
}
