.search {
  &--box {
    display: flex;
    input {
      border-radius: 8px;
      border: none;
      height: 30px;
      padding: 4px;
      width: 165px;
    }
    button {
      position: absolute;
      right: 0;
      border: none;
      background: none;
    }
  }
  &--results-box {
    width: 100%;
  }
  &--results-child {
    display: flex;
  }
  &--result {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
  }
}
