.block {
  height: 100vh;
  overflow: hidden;

  &--title {
    margin-bottom: 25px;
  }
  &--horizontal-list {
    &:first-of-type {
      margin-top: 3rem;
    }
    margin: 3.5rem 0 0 1.5rem;
  }
  &__pane {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    justify-self: center;

    &--genre {
      cursor: pointer;
      width: 150px;
      height: 150px;
      border-radius: 10%;
      display: flex;
      justify-content: center;
    }
    &--title {
      margin-bottom: 25px;
      margin-top: auto;
      color: white;
      z-index: 2;
    }
    &--space {
      position: relative;
      width: 100%;
      height: auto;
      margin-right: 25px;
    }
    &--image {
      transition: 800ms;
      width: 200px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__genre {
    &--section {
      width: 150px;
      height: 150px;
      display: flex;
      position: relative;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
