.tracklist {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 0.3125rem;
  }
  &__item {
    display: inline-flex;
    padding: 20px 5%;
    &--play {
      .player--wrapper {
        width: 40px;
        display: flex;
        justify-content: center;
        .button--play {
          width: 85%;
          height: 100%;
          margin-right: 15px;
        }
      }
    }
    &--child {
      display: inline-flex;
      align-items: center;
      width: 80%;
      margin-left: 15px;

      .track--name {
        white-space: nowrap;
        font-size: 0.9rem;
        width: 70%;
        &.big-title {
          font-size: 0.8rem;
          overflow: scroll;
        }
      }
      h5 {
        font-size: 0.45rem;
        padding-left: 20px;
        color: rgb(173, 173, 173);
      }
    }
  }
}

@media (min-width: 661px) {
  .tracklist {
    &__item {
      &--child {
        .track--name {
          font-size: 1.3rem;
          &.big-title {
            font-size: inherit;
          }
        }
        h5 {
          font-size: 1rem;
        }
      }
    }
  }
}
