.tracklist {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 0.3125rem;
  }
  &__item {
    display: inline-flex;
    padding: 20px 5%;

    &--child {
      display: inline-flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .track--name {
        padding-left: 20px;
        white-space: nowrap;
        font-size: 0.8rem;
        &.big-title {
          font-size: 0.6rem;
        }
      }
      h5 {
        font-size: 0.45rem;
        padding-left: 20px;
        color: rgb(173, 173, 173);
      }
    }
  }
}

@media (min-width: 661px) {
  .tracklist {
    &__item {
      &--child {
        .track--name {
          font-size: 1.3rem;
          &.big-title {
            font-size: inherit;
          }
        }
        h5 {
          font-size: 1rem;
        }
      }
    }
  }
}
