.header {
  &__album {
    &--wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &--pic {
      width: 130px;
      height: 130px;
      position: relative;
      margin-bottom: 0.5rem;
    }
    &--name {
      font-size: 0.75rem;
      line-height: 1.2rem;
      text-align: center;
      display: inline;
    }
    &--artist {
      font-size: 0.55rem;
    }
  }
}
