.player--wrapper,
.player--control {
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    stroke: $green-opacity-font;
  }
}

.track--footer {
  position: fixed;
  bottom: 50px;
  width: 100%;
  height: 100px;
  background-color: $black-background;
  border-top: $border-black-opacity;
  .player--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    .player--control {
      width: 55px;
      cursor: pointer;
      display: flex;
      .player--control__icon {
        margin: 0 auto;
        width: 65%;
        height: auto;
      }

      .button--play {
        width: 100%;
        height: auto;
      }
    }
  }
  &__track-info {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 55%;
    margin: 0 15px;
  }
  &__track-title {
    white-space: nowrap;
    overflow: scroll;
    h3 {
      font-size: 0.88rem;
    }
  }
  &__track-artist {
    font-size: 0.75rem;
  }
}

@media (min-width: 661px) {
  .track--footer {
    bottom: 0;
    &__track-title {
      white-space: nowrap;
      overflow: initial;
    }
    .player--wrapper {
      height: 100%;
    }
  }
}
