$green-main-font: rgb(20, 209, 67);
$green-opacity-font: rgba(20, 204, 66, 0.8);
$black-background: #0a0a0a;
$light-gray: #d6d6d6;
$header-close: 2.1875rem;
$open-menu: none;
$padding-below-window: 164px;
$border-black-opacity: solid #64646440 1px;
