a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

body {
  background-color: black;
  height: 100vh;
  color: rgb(148, 230, 26);
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

#main-box {
  margin-top: 60px;
}

@import "./structure/main.scss";
@import "./structure/header.scss";
@import "./structure/herobanner.scss";
