a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import "./definitions.scss";

body {
  background-color: black;
  color: rgb(148, 230, 26);
  font-family: "Lato", sans-serif;
}

.main--grid {
  display: grid;
  grid-template-columns: 0rem 1fr;
  &.open--menu {
    grid-template-columns: $menu-size 1fr;
  }
}

ul {
  list-style: none;
}

@import "./structure/main.scss";
@import "./structure/header.scss";
@import "./structure/herobanner.scss";
