* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import './definitions.scss';

body {
  background-color: black;
  color: rgb(214, 214, 214);
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  opacity: 0.1;
  transition: 200ms;
  &.content--bottom-to-top {
    margin-top: auto;
    opacity: 1;
    &.fadeTop {
      margin-top: 0;
    }
  }
  &.fadeIn {
    opacity: 1;
  }
}

@import './structure/block-panel';
@import './structure/main';
@import './structure/header';
@import './structure/herobanner';
@import './structure/tracklist-header';
@import './structure/tracklist';
@import './structure/block-page';
@import './structure/track-footer.scss';
